<ng-container *ngIf="form">
  <form class="model" [formGroup]="form">
    <div class="type">
      <ng-container *ngFor="let type of modelTypes">
        <app-radio-button [item]="type"></app-radio-button>
      </ng-container>
    </div>

    <div class="auto">
      <app-auto-card></app-auto-card>
      <app-auto-card></app-auto-card>
      <app-auto-card></app-auto-card>
      <app-auto-card></app-auto-card>
      <app-auto-card></app-auto-card>
      <app-auto-card></app-auto-card>
    </div>
  </form>
</ng-container>
