<ng-container *ngIf="!(isLoading$ | async); else preloader">
  <ng-container *ngIf="form">
    <form class="model" [formGroup]="form">
      <div class="type" *ngIf="categories$ | async as categories">
        <app-radio-button [item]="allCategories" groupName="models"
                          (changeRadioBtn)="filter($event)"></app-radio-button>
        <ng-container *ngFor="let category of categories">
          <app-radio-button [item]="category" groupName="models" (changeRadioBtn)="filter($event)"></app-radio-button>
        </ng-container>
      </div>
    </form>

    <ng-container *ngIf="cars$ | async as cars;">
      <div class="auto" *ngIf="cars.length > 0; else noAuto">
        <app-auto-card *ngFor="let car of cars" [car]="car" (click)="selectCar(car)"></app-auto-card>
      </div>
    </ng-container>

    <ng-template #noAuto>
      <div class="auto">Нет данных</div>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #preloader>
  <app-preloader></app-preloader>
</ng-template>
