:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 64px;
  height: 100vh;

  @media (max-width: 320px) {
    padding: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 320px) {
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;
    padding: 16px 16px 0;
  }

  &__logo {
    font: var(--font-logo);
    color: var(--color-main-accent)
  }
}

.main {
  margin-top: 160px;
  flex-grow: 1;

  @media (max-width: 320px) {
    margin-top: 34px;
  }

  &__info {
    @media (max-width: 320px) {
      padding: 0 16px;
    }
  }

  &__title {
    font: var(--font-landing-title);
    color: var(--color-black);
    overflow-wrap: break-word;

    @media (max-width: 320px) {
      font: var(--font-landing-title-adaptive);
    }

    &_accent {
      margin-top: 4px;
      color: var(--color-main-accent);
    }
  }

  &__text {
    font: var(--font-landing-text);
    color: var(--color-gray);
    margin: 34px 0 60px;

    @media (max-width: 320px) {
      font: var(--font-landing-text-adaptive);
      margin: 16px 0 32px;
    }
  }

  &__btn {
    width: 250px;

    @media (max-width: 320px) {
      width: 100%;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  @media (max-width: 320px) {
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    padding: 16px;
    background-color: var(--color-black-blue);
  }

  &__info {
    font: var(--font-text);
    color: var(--color-gray);

    @media (max-width: 320px) {
      color: var(--color-gray-light);
    }

    &_important {
      color: var(--color-black);

      @media (max-width: 320px) {
        color: var(--color-main-accent);
      }
    }
  }
}
