<app-header></app-header>

<main class="main">
  <div class="main__info">
    <h1 class="main__title">Каршеринг</h1>
    <h2 class="main__title main__title_accent">Need for drive</h2>
    <h3 class="main__text">Поминутная аренда авто твоего города</h3>
  </div>
  <button class="main__btn" app-button (click)="navigateToOrderPage()">Забронировать</button>
</main>

<footer class="footer">
  <span class="footer__info">© 2016-2019 «Need for drive»</span>
  <span class="footer__info footer__info_important">8 (495) 234-22-44</span>
</footer>
