<ng-container *ngIf="form">
  <form class="location" [formGroup]="form">
    <div class="location__inputs">
      <div class="wrapper__input" *ngIf="cities$ | async as cities">
        <app-label labelId="city" labelText="Город"></app-label>
        <app-combo-box [items]="cities" [open]="isCityInputClicked"
                       (closeAutocomplete)="isCityInputClicked = false"
                       (changeSelection)="changeLocation()"
        >
          <div class="location__input">
            <input app-input id="city" placeholder="Введите город..." formControlName="city" autocomplete="off"
                   (click)="isCityInputClicked = true"
            >
            <app-reset [value]="form.get('city')?.value" (click)="resetCity()"></app-reset>
          </div>
        </app-combo-box>
      </div>

      <div class="wrapper__input">
        <app-label labelId="pointOfIssue" labelText="Пункт выдачи"></app-label>
        <app-combo-box [items]="$any(filteredPoints$ | async)" [open]="isPointsInputClicked"
                       (closeAutocomplete)="isPointsInputClicked = false"
                       (changeSelection)="changeLocation()"
        >
          <input app-input id="pointOfIssue" placeholder="Начните вводить пункт..." formControlName="pointOfIssue"
                 autocomplete="off"
                 (click)="showPoints()"
          >
          <app-reset [value]="form.get('pointOfIssue')?.value" (click)="resetPoints()"></app-reset>
        </app-combo-box>
      </div>
    </div>

    <div class="location__map">
      <app-label labelText="Выбрать на карте:"></app-label>

      <div class="container">
        <ya-map [center]="[latitude, longitude]">
          <ng-container *ngIf="pointsWithCoordinates?.length">
            <ya-placemark *ngFor="let point of pointsWithCoordinates"
                          [geometry]="[point.coordinate.lat, point.coordinate.lng]"
                          [properties]="{balloonContent: point.address}"
                          [options]="{
                          iconLayout: 'default#image',
                          iconImageHref: './assets/icons/map-pin.svg',
                          iconImageSize: [18, 18]
                          }"
            ></ya-placemark>
          </ng-container>
        </ya-map>
      </div>

    </div>
  </form>
</ng-container>
