.location {
  &__input {
    width: 323px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 767px) {
      align-items: flex-start;
    }
  }
}

.map {
  display: block;
  margin: 16px 0;
  max-width: 736px;
  height: auto;

  @media (max-width: 1023px) {
    width: 100%;
  }
}
