.location {
  &__inputs {
    width: 323px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    @media (max-width: 767px) {
      align-items: flex-start;
    }
  }

  &__input {
    position: relative;
    display: inline;
  }

  &__icon {
    cursor: pointer;
    color: var(--color-black);
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 6px;
    right: 6px;
  }
}

.map {
  display: block;
  margin: 16px 0;
  max-width: 736px;
  height: auto;

  @media (max-width: 1023px) {
    width: 100%;
  }
}
