<div class="backdrop"></div>
<div class="container">
  <button (click)="closeNav()">
    <img alt="close button" src="../../../assets/icons/menu-close.svg">
  </button>
  <div class="content">
    <ul class="navbar">
      <li><a class="navbar__link">ПАРКОВКА</a></li>
      <li><a class="navbar__link">СТРАХОВКА</a></li>
      <li><a class="navbar__link">БЕНЗИН</a></li>
      <li><a class="navbar__link">ОБСЛУЖИВАНИЕ</a></li>
    </ul>
    <ul class="social">
      <li><a><img alt="" src="../../../assets/icons/social-telegram.svg"></a></li>
      <li><a><img alt="" src="../../../assets/icons/social-facebook.svg"></a></li>
      <li><a><img alt="" src="../../../assets/icons/social-instagram.svg"></a></li>
    </ul>
  </div>
</div>
