.slider {
  display: flex;
  background-color: var(--color-black-blue);
  height: 100vh;
  color: var(--color-gray-light);
  @media (max-width: 768px) {
    display: none;
  }

  &__content {
    padding: 205px 32px;
  }

  &__title {
    font: var(--font-slider-title);
  }

  &__text {
    font: var(--font-slider-text);
    padding: 8px 0 32px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 64px;
  height: 100vh;
  padding: 0 28px;

  &:hover {
    background-color: var(--color-main-accent);
    opacity: 0.2;
  }

  &__icon {
    width: 8px;
    height: 18px;
    color: var(--color-gray-light);
  }
}

.action-line {
  display: flex;
  gap: 8px;
  padding-bottom: 32px;

  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-gray-light);

    &_active {
      background-color: var(--color-main-accent);
    }
  }
}

