<div class="slider">
  <button class="btn">
    <svg class="btn__icon" icon="arrow-left"></svg>
  </button>
  <div class="container">
    <div class="slider__content">
        <h2 class="slider__title">Бесплатная парковка</h2>
        <p class="slider__text">Оставляйте машину на платных городских парковках и разрешенных местах, не нарушая ПДД, а
          также в аэропортах.</p>
      <app-button></app-button>
        <button>Подробнее</button>
    </div>
    <div class="action-line">
      <div class="action-line__circle"></div>
      <div class="action-line__circle action-line__circle_active"></div>
      <div class="action-line__circle"></div>
      <div class="action-line__circle"></div>
    </div>
  </div>
  <button class="btn">
    <svg class="btn__icon" icon="arrow-right"></svg>
  </button>
</div>
