<ng-container *ngIf="carModel">
  <form *ngIf="form" [formGroup]="form" (change)="changeExtraField()">
    <div class="section" *ngIf="carModel.colors">
      <app-label labelId="color" labelText="Цвет"></app-label>
      <div class="section__field horizontal">
        <app-radio-button *ngFor="let color of carModel.colors" [item]="{id: color, name: color}"
                          groupName="colors"
                          (changeRadioBtn)="setColor($event)"
        ></app-radio-button>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <app-label labelId="date" labelText="Дата аренды"></app-label>

        <div class="header__error" *ngIf="form.get('dateFrom')?.hasError('pattern') || form.get('dateTo')?.hasError('pattern')">
          Введите дату в формате дд.мм.гггг чч:мм
        </div>
      </div>

      <div class="section__field vertical inputs">
        <div class="wrapper">
          <app-label labelId="dateFrom" labelText="С"></app-label>
          <app-date-time-picker (selectDate)="setDateFrom($event)" [isOpen]="isDateFromOpen"
                                (closeCalendar)="isDateFromOpen = false">
            <input app-input placeholder="Введите дату и время" type="datetime" id="dateFrom"
                   formControlName="dateFrom" autocomplete="off" (click)="isDateFromOpen = !isDateFromOpen">
            <app-reset [value]="form.get('dateFrom')?.value" (click)="resetDate('dateFrom')"></app-reset>
          </app-date-time-picker>
        </div>

        <div class="wrapper">
          <app-label labelId="dateTo" labelText="По"></app-label>
          <app-date-time-picker (selectDate)="setDateTo($event)" [isOpen]="isDateToOpen"
                                (closeCalendar)="isDateToOpen = false">
            <input app-input placeholder="Введите дату и время" type="datetime" id="dateTo"
                   formControlName="dateTo" autocomplete="off" (click)="isDateToOpen = !isDateToOpen">
            <app-reset [value]="form.get('dateTo')?.value" (click)="resetDate('dateTo')"></app-reset>
          </app-date-time-picker>
        </div>
      </div>
    </div>

    <div class="section">
      <app-label labelId="tariff" labelText="Тариф"></app-label>
      <div class="section__field vertical">
        <app-radio-button *ngFor="let tariff of tariffs" [item]="tariff" groupName="tariffs"
                          (changeRadioBtn)="setTariff($event)"></app-radio-button>
      </div>
    </div>

    <div class="section">
      <app-label labelId="service" labelText="Доп услуги"></app-label>
      <div class="section__field vertical">
        <app-checkbox *ngFor="let service of services" [item]="service"
                      (changeCheckbox)="setExtra($event)"></app-checkbox>
      </div>
    </div>
  </form>
</ng-container>
