<div class="top">
  <div class="top__header">
    <app-header></app-header>
  </div>
  <div class="top__stepper">
    <app-stepper
    (stepChanged)="changeContent($event)"
    [activeStep]="activeStep"
    ></app-stepper>
  </div>
</div>

<main class="main">
  <div class="main__step">
    <app-step-location *ngIf="activeStep === 0"></app-step-location>
    <app-step-model *ngIf="activeStep === 1"></app-step-model>
    <app-step-extra *ngIf="activeStep === 2"></app-step-extra>
    <app-step-final *ngIf="activeStep === 3"></app-step-final>
  </div>
  <div class="main__info">
    <app-main-order-info></app-main-order-info>
  </div>
</main>
