.top {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  z-index: 1;
}
.container {
  padding: 32px 64px;
}

.main {
  padding: 0 64px;
  display: flex;
  justify-content: center;
  position: relative;

  &__step {
    padding-top: 32px;
    margin-right: 192px;
  }

  &__info {
    width: 319px;
  }
}
