.auto {
  padding: 16px;
  border: 1px solid var(--color-gray-light);
  width: 368px;
  cursor: pointer;

  &:hover {
    border-color: var(--color-gray);
  }

  &_active {
    border-color: var(--color-main-accent);
  }

  &__name {
    font: var(--font-auto);
    color: var(--color-black);
    text-transform: uppercase;
  }

  &__price {
    font: var(--font-text);
    color: var(--color-gray);
  }
}
