@import "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  outline: none;
}

input {
  outline: none;
}

img {
  margin: 0;
}

hr {
  margin: 0;
}

tui-wrapper.tui-autofill {
  box-shadow: none !important;
  border-radius: 0 !important;
  color: var(--color-black);
  font: var(--font-interactive-text);
  background: var(--color-white);
  position: relative;

  &:after {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 15%;
    width: 100%;
    border-bottom: 1px solid var(--color-gray);
  }

  &[data-state='hovered'] {
    background: none;
    box-shadow: none;
  }

  &[data-state='pressed'] {
    background: none;
    box-shadow: none;
  }

  &._focused {
    background: none;

    &:after {
      display: none;
    }
  }

  &._invalid {
    label {
      color: var(--color-danger) !important;
    }

    &:after {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 15%;
      width: 100%;
      border-bottom: 1px solid var(--color-danger);
    }
  }
}

.t-icon {
  display: none !important;
}
