<form class="location">
  <div class="location__input">
    <div class="location7">
      <app-label labelId="city" labelText="Город"></app-label>
      <input app-input id="city" placeholder="Введите город...">
    </div>
    <div>
      <app-label labelId="pointOfIssue" labelText="Пункт выдачи"></app-label>
      <input app-input id="pointOfIssue" placeholder="Начните вводить пункт...">
    </div>
  </div>
  <div class="location__map">
    <app-label labelText="Выбрать на карте:"></app-label>
    <img class="map" alt="map" src="./assets/pictures/map.jpg" width="736">
  </div>
</form>

