:host {
  display: flex;
  align-items: flex-end;
}

.icon {
  width: 15px;
  height: 18px;
  color: var(--color-gray);
}

.location {
  font: var(--font-text);
  color: var(--color-gray);
  margin-left: 7px;
}


