<ng-container *ngIf="state$ | async as state">
  <ul class="info">
    <ng-container *ngIf="state[0]">
      <li class="info__item" *ngIf="location$ | async as location">
        Пункт выдачи<span class="info__value">{{location.city}},<br> {{location.pointOfIssue}}</span>
      </li>
    </ng-container>

    <ng-container *ngIf="state[1]">
      <li class="info__item" *ngIf="carModel">Модель<span
        class="info__value">{{carModel.name}}, {{carModel.number}}</span></li>
    </ng-container>

    <ng-container *ngIf="extraFields">
      <li class="info__item" *ngIf="extraFields.color">Цвет<span
        class="info__value">{{extraFields.color}}</span></li>

      <li class="info__item"
          *ngIf="isDuration">
        Длительность аренды
        <span class="info__value">{{durationValue}}</span>
      </li>

      <li class="info__item" *ngIf="extraFields.tariff">Тариф
        <ng-container [ngSwitch]="extraFields.tariff">
          <span class="info__value" *ngSwitchCase="tariff.Day">На сутки</span>
          <span class="info__value" *ngSwitchCase="tariff.Week">На неделю</span>
          <span class="info__value" *ngSwitchCase="tariff.Month">На месяц</span>
          <span class="info__value" *ngSwitchCase="tariff.Minute">Поминутно</span>
        </ng-container>
      </li>

      <li class="info__item" *ngIf="extraFields.fullTank">Полный бак<span
        class="info__value">Да</span></li>

      <li class="info__item" *ngIf="extraFields.babyChair">Детское кресло<span
        class="info__value">Да</span></li>

      <li class="info__item" *ngIf="extraFields.rightHand">Правый руль<span
        class="info__value">Да</span></li>
    </ng-container>
  </ul>

  <ng-container *ngIf="carModel">
    <div class="result" *ngIf="state[1]; else noPrice">
      <span class="result__subtitle">Цена: </span>
      <span class="result__text" *ngIf="!state[2]">от {{carModel.priceMin}} до {{carModel.priceMax}} ₽</span>
      <span class="result__text" *ngIf="state[2]">{{price}} ₽</span>
    </div>

    <ng-template #noPrice>
      <div class="result">
        <span class="result__subtitle">Укажите параметры заказа в форме</span>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
